<% if (theme.adsense.enable){ %>
    <% if (!theme.adsense.auto){ %>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% } %>
    <% if (is_archive()){ %>
        <%- partial('adaptive-unit', {auto: true, slotId: theme.adsense.archive_id, adStyles: 'display:block'}) %>
    <% } else if ('tags' === page.layout) { %>
        <p>
            <%- partial('adaptive-unit', {auto: true, slotId: theme.adsense.tags_id, adStyles: 'display:block'}) %>
        </p>
    <% } else if (is_post()) { %>
        <div class="adsense_post_left">
            <%- partial('adaptive-unit', {auto: false, slotId: theme.adsense.post_left_id, adStyles: 'display:inline-block;width:160px;height:600px'}) %>
        </div>
        <div class="adsense_post_right">
            <%- partial('adaptive-unit', {auto: false, slotId: theme.adsense.post_right_id, adStyles: 'display:inline-block;width:160px;height:600px'}) %>
        </div>
        <p>
            <%- partial('adaptive-unit', {auto: true, slotId: theme.adsense.post_bottom_id, adStyles: 'display:block'}) %>
        </p>
    <% } %>
<% } %>
