<div class="page-title">
    <ul>
        <li><a href="/" data-name="<%= __('home') %>" title="Back Home"><%= __('home') %></a></li>
        <li><a href="/tags" data-name="<%= __('tagcloud')  %>" title="<%= __('tagcloud')  %>"><%= __('tags')  %></a></li>
        <%- partial('_widget/search-bar') %>
    </ul>
</div>
<div class="main-inner">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <h3 class="post-title"><%= __('post_total_count', site.posts.length) %></h3>
        </div>
        <%- partial('_widget/ads/adSense') %>
        <div class="post-content markdown-body" itemprop="articleBody">
            <div class="archives">
                <% var lastDate; %>
                <% site.posts.sort('date', theme.home_page_sort).each(function(post, i){ %>
                <% var currentDate = parseInt(date(post.date, 'YYYYMM')); %>
                <% if (lastDate != currentDate){ %>
                <% lastDate = currentDate; %>
                <div class="archives-item">
                    <h2><%= date(post.date, 'YYYY') %>年<%= date(post.date, 'MM') %>月</h2>
                    <ul class="archives_list">
                        <% } %>
                        <li><%= date(post.date, 'DD') %>日<%= time(post.date) %>
                            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                            <% if(post.author && theme.webmaster.name && post.author != theme.webmaster.name) { %>
                                ，作者<a href="<%= post.authorLink ? post.authorLink : theme.webmaster.home %>" 
                                   target="_blank"
                                   rel="author"><%= post.author ? post.author : theme.webmaster.name %></a>
                            <% } %>
                        </li>
                        <% if (!site.posts.sort('date', theme.home_page_sort).eq(i + 1) || currentDate != parseInt(date(site.posts.sort('date', theme.home_page_sort).eq(i + 1).date, 'YYYYMM'))){ %>
                    </ul>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>
    </article>
</div>
