<!DOCTYPE HTML>
<html class="no-js">
<head>
    <%- partial('_partial/head', null, {cache: !config.relative_link}) %>
</head>
<body class="">
<%- partial('_partial/leftMenu', null, {cache: !config.relative_link}) %>
<%- partial('_widget/user-entry', null, {cache: !config.relative_link}) %>
<!-- 中边栏 -->
<div id="wrapper" class="clearfix">
    <%- body %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
<div class="fixed-btn">
    <a class="btn-gotop" href="javascript:"> <i class="fa fa-angle-up"></i></a>
</div>
</body>
</html>