<!DOCTYPE HTML>
<html class="no-js" lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
    <%- partial('_widget/ads/adSense-auto', null, {cache: !config.relative_link}) %>
    <%- partial('_widget/analytics', null, {cache: !config.relative_link}) %>
</head>
<body>
<%- partial('_partial/leftMenu') %>
<%- partial('_widget/user-entry', null, {cache: !config.relative_link}) %>
<div id="wrapper" class="clearfix">
    <div id="body">
        <div class="main" id="main">
            <%- partial('_partial/middleCover', null, {cache: !config.relative_link}) %>
            <%- body %>
        </div><!-- end #main-->
    </div><!-- end #body -->
    <%- partial('_partial/footer', null, {cache: false}) %>
</div>
<!-- search pop -->
<div class="popup search-popup local-search-popup">
    <div class="local-search-header clearfix">
        <span class="search-icon">
            <i class="fa fa-search"></i>
        </span>
        <span class="popup-btn-close">
            <i class="fa fa-times-circle"></i>
        </span>
        <div class="local-search-input-wrapper">
            <input id="local-search-input"
                   spellcheck="false"
                   type="text"
                   autocomplete="off"
                   placeholder="<%= __('search_placeholder') %>"/>
        </div>
    </div>
    <div id="local-search-result"></div>
</div>
<div class="fixed-btn">
    <a class="btn-gotop" href="javascript:"> <i class="fa fa-angle-up"></i></a>
</div>
<script>
    $(function () {
        var jsi_config = {
            buildingTime: '<%= theme.site_building_time %>',
            current: $('.post-tags').length > 0 ? 'post' : 'archive',
            snsQRCode: '/images/sns-qrcode.png',
            donateImg: '/images/donate-qr.png',
            localSearch: { dbPath: '' },
            readMode: '<%= theme.read_mode %>'
        };
        <% if(config.search && config.search.path) {  %>
            jsi_config.localSearch = {
                dbPath: '/<%= config.search.path %>',
                trigger: '<%= theme.local_search.trigger %>',
                topN: '<%= theme.local_search.top_n_per_article %>',
                unescape: '<%= theme.local_search.unescape %>'
            }
        <% } %>
        SimpleCore.init(jsi_config);
        <% if(theme.baidu_auto_push) {  %>
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
        <% } %>
    });
</script>
</body>
</html>
