<!DOCTYPE HTML>
<html class="no-js" lang="zh-CN">
<head>
    <%- partial('_partial/head') %>
    <%- partial('_widget/analytics') %>
    <%- partial('_widget/adSense') %>
</head>
<body>
<%- partial('_partial/leftMenu', null, {cache: !config.relative_link}) %>
<%- partial('_widget/user-entry', null, {cache: !config.relative_link}) %>
<div id="wrapper" class="clearfix">
    <div id="body">
        <div class="main" id="main">
            <%- partial('_partial/middleCover', {cache: !config.relative_link}) %>
            <%- body %>
        </div><!-- end #main-->
    </div><!-- end #body -->
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
<div class="fixed-btn">
    <a class="btn-gotop" href="javascript:"> <i class="fa fa-angle-up"></i></a>
</div>
<script>
    $(function () {
        SimpleCore.init({
            buildingTime: '<%= theme.siteBuildingTime %>',
            current: $('.post-tags').length > 0 ? 'post' : 'archive',
            snsQRCode: '/images/sns-qrcode.png',
            donateImg: '/images/donate-qr.png',
            searchPath: '/<%= config.search.path %>'
        });
    });
</script>
</body>
</html>
