<div class="page-title">
    <ul>
        <li><a href="/" data-name="首页" title="返回首页">首页</a></li>
        <li><a href="/archives" data-name="归档" title="归档">归档</a></li>
        <%- partial('_widget/search-bar', null, {cache: !config.relative_link}) %>
    </ul>
</div>
<div class="main-inner">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <h3 class="post-title">总的来说 - 目前共计<%= site.tags.length %>类标签</h3>
        </div>
        <div class="post-content markdown-body" itemprop="articleBody">
            <ul class="tag-list">
                <% site.tags.sort('name').map(function(tag){  %>
                <li><a href="<%- url_for(tag.path) %>"><%= tag.name %>(<%= tag.length %>)</a></li>
                <% }) %>
            </ul>
        </div>
    </article>
</div><!-- end #main-->