<div class="page-title">
    <ul>
        <li><a href="/" data-name="<%= __('home') %>" title="Back Home"><%= __('home') %></a></li>
        <li><a href="/archives" data-name="<%= __('archives')  %>" title="<%= __('archives')  %>"><%= __('archives')  %></a></li>
        <%- partial('_widget/search-bar') %>
    </ul>
</div>
<div class="main-inner">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <h3 class="post-title"><%= __('tag_total_count', site.tags.length) %></h3>
        </div>
        <%- partial('_widget/ads/adSense') %>
        <div class="post-content markdown-body" itemprop="articleBody">
            <% if (site.tags.length) { %>
            <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcloud.js') %>"></script>
            <script type="text/javascript" charset="utf-8" src="<%- url_for('/js/tagcanvas.js') %>"></script>
            <div class="widget-wrap">
                <div id="myCanvasContainer" class="widget tagcloud">
                <canvas width="250" height="250" id="resCanvas" style="width:100%">
                    <%- tagcloud() %>
                </canvas>
                </div>
            </div>
            <% } %>
        </div>
    </article>
</div>