<% var external_link = config.external_link ? '_blank' : '_self'; %>
<article class="post">
    <% if (post.photos && post.photos.length){ %>
    <!-- 有配图默认渲染第一张 -->
    <div class="post-cover">
        <a href="<%- url_for(post.path) %>" target="<%= external_link %>" title="<%= post.title %>"
           style="background-image:url(<%= post.photos[0] %>)"></a>
    </div>
    <% } %>
    <div class="post-header">
        <div class="post-meta">
            <a href="<%= theme.authorLink %>" target="<%= external_link %>">
                <strong><%= post.author %></strong>
            </a>
            <em>·</em><%= date(post.date) %>
        </div>
        <a class="post-title" href="<%- url_for(post.path) %>" target="<%= external_link %>"
           title="<%= post.title %>"><%= post
                    .title %></a>
        <div class="post-meta">
            <a href="<%- url_for(post.path) %>#disqus_thread" target="<%= external_link %>">评论：?</a>
            <em>·</em>
            <a href="<%- url_for(post.path) %>" target="<%= external_link %>">阅读：?</a><em>·</em>
            <span>喜欢：?</span>
        </div>
    </div>
    <div class="post-desc">
        <%= post.description || post.slug %>
    </div>
</article>


