<article class="post">
    <!-- 有配图默认渲染第一张 -->
    <% if (post.photos && post.photos.length){ %>
    <div class="post-cover">
        <a href="<%- url_for(post.path) %>" title="<%= post.title %>" style="background-image:url(<%= post.photos[0] %>)"></a>
    </div>
    <% } %>
    <div class="post-header">
        <div class="post-meta"><a href="#"><strong><%= post.author %></strong></a><em>·</em><%= date(post.date) %>
        </div>
        <a class="post-title" href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.title %></a>
        <div class="post-meta">
            <a href="<%- url_for(post.path) %>#comments">评论：226</a>
            <em>·</em>
            <a href="<%- url_for(post.path) %>">阅读：60125</a><em>·</em>
            <span>喜欢：248</span>
        </div>
    </div>
    <div class="post-desc">
        <%= post.description || post.slug %>
    </div>
</article>


