<% var external_link = config.external_link ? '_blank' : '_self'; %>
<article class="post">
    <% if (post.photos && post.photos.length){ %>
    <!-- render the first if pics exists. -->
    <div class="post-cover">
        <a href="<%- url_for(post.path) %>" target="<%= external_link %>" title="<%= post.title %>"
           style="background-image:url(<%= post.photos[0] %>)"></a>
    </div>
    <% } %>
    <div class="post-header">
        <div class="post-meta">
            <a href="<%= post.authorLink ? post.authorLink : theme.webmaster.home %>" target="<%= external_link %>">
                <strong><%= post.author ? post.author : theme.webmaster.name %></strong>
            </a>
            <em>·</em><%= date(post.date) %>
            <% if (is_home() && theme.sticky_top.enable && post.top > 0){ %>
                <span class="label" style="color:#e78170"><%= __('sticky') %></span>
            <% } %>
        </div>
        <a class="post-title" href="<%- url_for(post.path) %>" target="<%= external_link %>" title="<%= post.title %>"><%= post.title %></a>
        <div class="post-meta">
            <a href="/tags" target="<%= external_link %>"><i class="fa fa-tags"></i></a>
            <% post.tags.each((tag)=>{ %>
                <em>·</em>
                <a href="<%= tag.permalink %>" target="<%= external_link %>"><%= tag.name %></a>
            <% }) %>
        </div>
    </div>
    <div class="post-desc">
        <%= post.description || post.title %>
    </div>
</article>


