<div class="page-title">
    <ul>
        <li><a href="/"><%= __('recent_posts') %></a></li>
        <% if(page.categories && page.categories.first()){ %>
            <% for (var name in theme.menu){ %>
                <li class="<%= (page.categories.first().name == name) ? 'active' : '' %>">
                    <a href="/categories/<%= theme.menu[name] %>" data-name="<%= name %>"><%= name %></a>
                </li>
            <% } %>
        <% }else { %>
        <% console.warn('Error ******* Please set categories in your scaffold file at least  *******') %>
        <% } %>
        <%- partial('_widget/search-bar') %>
    </ul>
</div>
<%- partial('_widget/common-article', {post: post}) %>
