<div class="page-title">
    <ul>
        <li><a href="/" data-name="最近文章">最近</a></li>
        <li class="page-search">
            <form id="search" method="post" action="" role="search">
                <label for="s" class="sr-only">搜索关键字</label>
                <input type="text" name="s" class="text" placeholder="输入关键字搜索"/>
                <button type="submit" class="submit" title="搜索"><i class="fa fa-search"></i></button>
            </form>
        </li>
    </ul>
</div>
<div class="main-inner">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <h2 class="post-title">归档</h2>
        </div>
        <div class="post-content markdown-body" itemprop="articleBody">
            <div class="archives">

                <% var lastYear;var lastMonth; %>
                <% page.posts.each(function(post){ %>
                <div class="archives-item">
                <% var year = post.date.year();var month = post.date.month(); %>
                <% if (lastYear != year && lastMonth != month){ %>
                    <% lastYear = year;lastMonth = month %>
                    <h2><%= lastYear %>年<%= lastMonth+1 %>月</h2>
                 <% } %>
                    <ul class="archives_list">
                        <li><%= date(post.date,'D') %>日<%= time(post.date) %>
                            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                        </li>
                    </ul>
                </div>
                <% }) %>

            </div>
        </div>
    </article>
</div>