<footer class="footer">
    <div class="footer-inner" style="text-align: <%- is_post() ? 'center' : 'left' %>">
        <p>
            <%= __('buildTip') %>&nbsp;<a href="/about" id="siteBuildingTime"></a>&nbsp;<%= __('day') %>， <span id="busuanzi_container_site_pv">总访问量<span id="busuanzi_value_site_pv"></span>次</span><br/>
            ©<%= theme.site_creation.year %>-<span id="cpYear"></span> <%= __('based_on') %>&nbsp;<a href="http://hexo.io" target="_blank" rel="external nofollow noopener" title="Hexo">Hexo</a>
            ，<%= __('theme_by') %>&nbsp;&nbsp;<a href="https://github.com/tangkunyin/hexo-theme-jsimple" target="_blank" rel="external nofollow noopener" title="JSimple theme">JSimple</a>
            ，<%= __('author') %>&nbsp;<a href="<%= theme.authorInfo.home %>" target="_blank" title="author"><%= theme.authorInfo.name %></a>
            ，<%= __('hosted') %>&nbsp;<a href="<%= theme.serveInfo.url %>" target="_blank" rel="external nofollow noopener" title="<%= theme.serveInfo.name %>"><%= theme.serveInfo.name %></a>
            ，<a href="<%= config.url %>/sitemap.xml" title="<%= __('map') %>" rel="alternate" type="application/xml"><%= __('map') %></a>
        </p>
    </div>
</footer>