<footer class="footer">
    <div class="footer-inner">
        <p>
            <a href="<%= theme.about %>"  title="关于本站">关于</a>&nbsp;
            &nbsp<em>·</em>&nbsp;&nbsp
            <a href="/archives" title="联系作者" >归档</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/tags" title="帮助中心">标签</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.feedback %>" title="技术周边">反馈</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.links %>" title="友情链接">友链</a>
        </p>
        <p>
            本站点采用<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>，已建立<a href="<%= theme.timeline %>" id="siteBuildingTime"></a>天<br/>
            ©2017 基于<a href="http://hexo.io" target="_blank">Hexo</a>搭建
            ，主题<a href="https://github.com/tangkunyin/hexo-theme-jsimple" target="_blank">JSimple</a>
            ，感谢<a href="<%= theme.pageServerUrl %>" target="_blank"><%= theme.pageServerName %></a>提供免费优质的强力驱动
        </p>
    </div>
    <%- partial('_widget/site-analytics', null, {cache: !config.relative_link}) %>
</footer>