<footer class="footer">
    <div class="footer-inner" style="text-align: <%- is_post() ? 'center' : 'left' %>">
        <p>
            <a href="/about"  title="<%= __('about') %>"><%= __('about') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <!-- 自定义链接 -->
            <a href="/help" title="<%= __('help') %>" ><%= __('help') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/links" title="<%= __('links') %>"><%= __('links') %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="/sitemap.xml" title="<%= __('map') %>"><%= __('map') %></a>
        </p>
        <p>
            <%= __('buildTip') %>&nbsp<a href="/timeline" id="siteBuildingTime"></a>&nbsp<%= __('day') %>，<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="licence"><%= __('licenses') %></a><br/>
            ©2017-<span id="cpYear"></span> <%= __('based_on') %>&nbsp<a href="http://hexo.io" target="_blank" rel="nofollow">Hexo</a>
            ，<%= __('theme_by') %>&nbsp&nbsp<a href="https://github.com/tangkunyin/hexo-theme-jsimple" target="_blank" rel="bookmark">JSimple</a>
            ，<%= __('author') %>&nbsp<a href="<%= theme.webmaster.home %>" target="_blank" rel="friend"><%= theme.webmaster.name %></a>
            ，Hosted by <a href="https://pages.github.com/" target="_blank" rel="nofollow">GitHub Pages</a>
        </p>
    </div>
</footer>
<%- js(['js/SimpleCore']) %>
