<footer class="footer">
    <div class="footer-inner">
        <p>
            <a href="<%= theme.about %>" target="_blank" title="关于本站"><%= config.title %></a>&nbsp;
            &nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.contact %>" target="_blank" title="联系作者" >联系</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.help %>" target="_blank" title="帮助中心">帮助</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.others %>" target="_blank" title="技术周边">周边</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.links %>" target="_blank" title="友情链接">友链</a>
        </p>
        <p>©2014-2016 由 <a href="http://hexo.io" target="_blank">Hexo</a>创建
            &nbsp;&nbsp<em>·</em>&nbsp;&nbsp本站已建立<a href="#" target="_blank" id="siteBuildingTime"></a>天
            &nbsp;&nbsp<em>·</em>&nbsp;&nbsp主题<a href="https://github.com/tangkunyin/hexo-theme-simple" target="_blank">森破</a>
            &nbsp;&nbsp<em>·</em>&nbsp;&nbsp感谢<a href="<%= theme.gitPagesServerAddr %>" target="_blank"><%= theme.gitPagesServerName %></a>提供强力驱动
        </p>
    </div>
</footer>