<footer class="footer">
    <div class="footer-inner">
        <p>
            <a href="<%= theme.about %>" target="_blank">关于<%= theme.siteName %></a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.contact %>" target="_blank" >联系作者</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.help %>" target="_blank">帮助中心</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.others %>" target="_blank">技术周边</a>&nbsp;&nbsp<em>·</em>&nbsp;&nbsp
            <a href="<%= theme.links %>" target="_blank">友情链接</a>
        </p>
        <p>©2014-2016 由 <a href="http://hexo.io" target="_blank">Hexo</a>创建
            &nbsp;&nbsp<em>·</em>&nbsp;&nbsp本站已建立<a href="#" target="_blank">30</a>天
            &nbsp;&nbsp<em>·</em>&nbsp;&nbsp主题<a href="https://github.com/tangkunyin/hexo-theme-simple" target="_blank">森破</a>
            &nbsp;&nbsp<em>·</em>&nbsp;&nbsp感谢<a href="<%= theme.gitPagesServerAddr %>" target="_blank"><%= theme.gitPagesServerName %></a>提供强力驱动
        </p>
    </div>
</footer>