<!--[if lte IE 9]>
<meta http-equiv="refresh" content="0;url=<%= config.url %>/warn.html">
<![endif]-->
<meta charset="utf-8">
<% if (theme.fullHttps){ %>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<% } %>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta http-equiv="mobile-agent" content="format=html5; url=<%= config.url %>">
<meta name="author" content="<%= config.author %>">
<%- css('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') %>
<%- css(['/css/SimpleStyle.min.css']) %>
<% if (theme.favicon){ %>
<%- favicon_tag(theme.favicon) %>
<% } %>
<%
var siteTitle = page.title;
if (is_archive()) {
    siteTitle = '归档集';
    if (is_month()) {
        siteTitle += '- ' + page.year + '/' + page.month;
    } else if (is_year()) {
        siteTitle += '- ' + page.year;
    }
} else if (is_category()) {
    siteTitle = '分类 - ' + page.category;
} else if (is_tag()) {
    siteTitle = '标签 - ' + page.tag;
}
%>
<title><% if (siteTitle){ %><%= __(siteTitle.toLowerCase()) %> - <% } %><%= config.title %><% if (is_home()){ %> - <%= config.subtitle %><% } %></title>
<%
var keywords;
if (page.keywords) {
    keywords = page.keywords;
} else {
    keywords = config.keywords;
}
%>
<meta name="keywords" content="<%= keywords %>">
<%
var description;
if (page.description) {
    description = page.description;
} else {
    description = config.description;
}
%>
<meta name="description " content="<%= description %>">