<div id="nav">
    <nav class="nav-menu">
        <a class="site-name current" href="/" title="<%= theme.shortName %>"><%= theme.shortName %></a>
        <a class="site-index current" href="/"><i class="fa fa-home"></i><span><%= __('home') %></span></a>
        <a href="/archives" title="<%= __('archives')  %>"><i class="fa fa-archives"></i><span><%= __('archives')  %></span></a>
        <a href="/tags" title="<%= __('tags')  %>"><i class="fa fa-tags"></i><span><%= __('tags')  %></span></a>
        <a href="/video" title="<%= __('video')  %>"><i class="fa fa-video-camera"></i><span><%= __('video')  %></span></a>
        <a href="/rss" title="<%= __('rss_feed')  %>"><i class="fa fa-rss"></i><span><%= __('rss_feed')  %></span></a>
        <a href="/app" title="<%= __('app')  %>"><i class="fa fa-download"></i><span><%= __('app') %></span></a>
    </nav>
</div>