<!-- 左侧栏 -->
<div class="navbar navbar-jianshu expanded">
  <div class="dropdown">
    <a class="active logo" role="button" data-original-title="网站主页" data-container="div.expanded" href="/">
      <b><%= theme.siteShortName %></b><i class="fa fa-home"></i><span class="title">首页</span>
    </a>
    <a data-toggle="tooltip" data-placement="right" data-original-title="归档" data-container="div.expanded" href="/archive">
      <i class="fa fa-archive"></i><span class="title">归档</span>
    </a>
    <a class="ad-selector" href="/#">
      <i class="fa fa-mobile"></i><span class="title">下载手机应用</span>
    </a>
    <div class="ad-container " style="display: none;">
      <div class="ad-pop">
        <img class="ad-logo" src="./images/logo.png"/>
        <p class="ad-title"><%= theme.siteName %></p>
        <p class="ad-subtitle"><%= theme.siteSubtitle %></p>
        <img class="ad-qrcode" src="./images/download-app-qrcode.png" alt="Download app qrcode">
        <div>
          <a class="ad-link" href="<%= theme.iOSDownLink %>">iOS</a>·
          <a class="ad-link" href="<%= theme.andriodDownLink %>">Android</a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-user">
    <a href="<%= theme.siteUrl %>/#view-mode-modal" data-toggle="modal"><i class="fa fa-font"></i><span
              class="title">显示模式</span></a>
    <a class="signin" data-signin-link="true" data-toggle="modal" data-placement="right" data-original-title="RSS"
       data-container="div.expanded" href="<%= theme.rssUrl %>">
      <i class="fa fa-rss"></i><span class="title">RSS</span>
    </a>
  </div>
</div>