<div id="nav">
    <nav class="nav-menu">
        <a class="site-name current" href="/" title="<%= __('siteName')  %>"><%= __('siteName')  %></a>
        <a class="site-index current" href="/"><i class="fa fa-home"></i><span><%= __('home') %></span></a>
        <a href="/archives" title="<%= __('archives')  %>"><i class="fa fa-archives"></i><span><%= __('archives')  %></span></a>
        <a href="/tags" title="<%= __('tags')  %>"><i class="fa fa-tags"></i><span><%= __('tags')  %></span></a>
        <a href="<%= theme.links %>" title="<%= __('friendlink')  %>"><i class="fa fa-links"></i><span><%= __('friendlink')  %></span></a>
        <a href="<%= theme.feedback %>" title="<%= __('feedback')  %>"><i class="fa fa-guestbook"></i><span><%= __('feedback')  %></span></a>
        <a href="<%= theme.about %>" title="<%= __('about')  %>"><i class="fa fa-about"></i><span><%= __('about')  %></span></a>
    </nav>
</div>