<div id="nav">
    <nav class="nav-menu">
        <a class="site-name current" href="/" title="<%= theme.shortName %>"><%= theme.shortName %></a>
        <a class="site-index current" href="/"><i class="fa fa-home"></i><span><%= __('home') %></span></a>
        <a href="/archives" title="<%= __('archives')  %>"><i class="fa fa-archives"></i><span><%= __('archives')  %></span></a>
        <a href="/tags" title="<%= __('tags')  %>"><i class="fa fa-tags"></i><span><%= __('tags')  %></span></a>
        <a href="/video" title="<%= __('video')  %>"><i class="fa fa-video-camera"></i><span><%= __('video')  %></span></a>
        <a href="/cross_fire" title="<%= __('cross_fire')  %>"><i class="fa fa-wifi"></i><span><%= __('cross_fire') %></span></a>
        <a href="/help" title="<%= __('help')  %>"><i class="fa fa-question-circle"></i><span><%= __('help') %></span></a>
    </nav>
</div>