<div id="cover">
    <div class="cover-img"></div>
    <div class="cover-info">
        <% if (theme.avatar_show) { %>
        <img class="avatar" width="72" src="<%= theme.avatar_image %>" alt="avatar"/>
        <% } %>
        <h1 class="cover-siteName"><%= theme.site_name %></h1>
        <h3 class="cover-siteTitle"><%= theme.cover_title %></h3>
        <p class="cover-siteDesc"><%= theme.cover_description %></p>
        <div class="cover-sns">
            <%- partial('_widget/sns-entry', null, {cache: !config.relative_link}) %>
        </div>
    </div>
</div>
