<div id="cover">
    <div class="cover-img"></div>
    <div class="cover-info">
        <img class="avatar" width="72" src="<%= theme.avatar %>" alt="avatar"/>
        <h1><%= theme.siteName %></h1>
        <h3><%= theme.coverTitle %></h3>
        <p><%= theme.coverDescription %></p>
        <div class="cover-sns">
            <% for (const snsKey in theme.sns){ %>
            <div class="btn btn-<%= snsKey %>">
                <a href="<%= theme.sns[snsKey] %>" target="_blank" title="<%= snsKey %>" ref="friend">
                    <i class="fa fa-<%= snsKey %>"></i>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>