<div id="cover">
    <img class="cover-img" src="/images/cover-day.webp" alt="cover-img" loading="lazy"/>
    <div class="cover-info">
        <img class="avatar" src="<%= theme.authorInfo.avatar %>" width="100" alt="avatar" loading="lazy"/>
        <h1><%= theme.site_name %></h1>
        <h3><%= theme.middleCover.title %></h3>
        <h4><%= theme.middleCover.description %></h4>
        <div class="cover-sns">
            <%- partial('_widget/sns-entry') %>
        </div>
    </div>
</div>
