<div id="cover">
    <div class="cover-img"></div>
    <div class="cover-info">
        <img class="avatar" width="72" src="<%= theme.avatar %>" alt="" />
        <p><%= theme.coverTitle %></p>
        <div class="cover-sns">
            <div class="btn btn-weixin">
                <a class="" href="javascript:"><i class="fa fa-weixin"></i></a>
                <div class="qrcode"><img src="/images/weixin-mp.png" alt="weixinQrcode" /></div>
                <div class="qrcode-arrow"></div>
            </div>
            <div class="btn btn-weibo">
                <a href="<%= theme.sinaWb %>" target="_blank" rel="nofollow"><i class="fa fa-weibo"></i></a>
            </div>
            <div class="btn btn-facebook">
                <a href="<%= theme.facebook %>"  target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="btn btn-github">
                <a href="<%= theme.github %>"  target="_blank" rel="nofollow"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</div>