<div id="cover">
    <div class="cover-img"></div>
    <div class="cover-info">
        <img class="avatar" width="72" src="<%= theme.avatar %>" alt="avatar" />
        <h1><%= theme.siteName %></h1>
        <h3><%= theme.coverTitle %></h3>
        <p><%= theme.coverDescription %></p>
        <div class="cover-sns">
            <div class="btn btn-slack">
                <a href="<%= theme.slack %>" target="_blank" rel="nofollow"><i class="fa fa-slack"></i></a>
            </div>
            <div class="btn btn-weibo">
                <a href="<%= theme.weibo %>" target="_blank" rel="nofollow"><i class="fa fa-weibo"></i></a>
            </div>
            <div class="btn btn-facebook">
                <a href="<%= theme.facebook %>"  target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="btn btn-github">
                <a href="<%= theme.github %>"  target="_blank" rel="nofollow"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</div>